@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:200,600');

.titulo {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

p, ol, ul, a {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 200;
}

.tfs {
    display: block;
    margin-top: 10px;
}

.item {
    text-transform: uppercase;
}

.item a {
    color: #000000;
    background: #ffffff;
    border-radius: 2px;
    transition: 0.5s;
    padding: 10px;
    height: 2.25em;
    line-height: 2.25em;
}

.resumo {
    text-align: justify;
    text-justify: inter-word;
    display: block;
    border-radius: 2px;
}

.aluno, .supervisora, .progresso, .cronograma {
    display: block;
    border-radius: 2px;
}

.aluno, .supervisora, .progresso, .cronograma {
    margin-bottom: 20px;
}

.degrade {
    color: #ffffff;
    background: #96281B;
    background: linear-gradient(to bottom right, #96281B,#F22613);
}

.aluno a {
    color: #ffffff;
}

.supervisora a {
    color: #ffffff;
}

div {
    padding: 10px 15px;
}

p, a, li {
    font-size: 1.25em;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
    .header, .content {
        width: 90%;
        margin: auto;
    }

    h1, h2, h3 {
        font-size: 2em;
    }

    .resumo {
        margin-bottom: 20px;
    }

    .tfs, h2 {
        text-align: center;
    }
    
    .item {
        text-align: center;
    }

    .item a {
        font-size: 1em;
    }
}

@media only screen and (min-width:960px) {
    .resumo {
        margin-right: 20px;        
    }

    .resumo, .tfs {
        float: left;
    }
    
    .resumo, .aluno, .supervisora, .progresso, .cronograma {
        width: 45%;        
    }

    .aluno, .supervisora, .progresso, .cronograma {
        float: left;
        clear: right;
    }

    .content {
        clear: both;
    }

    .header, .content {
        width: 80%;
        margin: auto;
    }

    .tfs {
        width: 50%;
    }

    .item {
        display: inline-block;
        margin-left: 10px;
    }
    
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    .item a:hover {
        color: #ffffff;
        background: #96281B;
        background: linear-gradient(to bottom right, #96281B,#F22613);
    }
} 
