@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Oswald');

.titulo {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}

p, ol, ul, a {
    font-family: 'Bree Serif', serif;
}

.header, .content {
    width: 80%;
    margin: auto;
}

.tfs {
    display: block;
    float: left;
    width: 50%;
    margin-top: 10px;
}

.item {
    display: inline-block;
    text-transform: uppercase;
}

.item a {
    color: #000000;
    background: #ffffff;
    border-radius: 4px;
    transition: color 0.25s, background-color 0.25s;
    transition-timing-function: linear;
    margin-left: 10px;
    padding: 10px;
    height: 2.25em;
    line-height: 2.25em;
}

.item a:hover {
    color: #ffffff;
    background-color: #08949e;
    background-color: linear-gradient(to bottom right, #08949e, #12a894);
}

.content {
    clear: both;
}

.resumo {
    width: 45%;
    text-align: justify;
    text-justify: inter-word;
    display: block;
    float: left;
    color: #ffffff;
    background: #722ba5;
    background: linear-gradient(to bottom right, #722ba5, #a02990);
    margin-right: 20px;
    border-radius: 4px;
}

.aluno, .supervisora, .progresso, .cronograma {
    width: 45%;
    display: block;
    float: left;
    clear: right;
    border-radius: 4px;
}

.aluno, .supervisora, .progresso, .cronograma {
    margin-bottom: 20px;
}

.aluno {
    color: #ffffff;
    background: #c52323;
    background: linear-gradient(to bottom right, #c52323, #da3208);
}

.aluno a {
    color: #ffffff;
}

.supervisora {
    color: #ffffff;
    background: #348c05;
    background: linear-gradient(to bottom right, #348c05, #2dc009)
}

.supervisora a {
    color: #ffffff;
}

.progresso {
    color: #ffffff;
    background: #1e058c;
    background: linear-gradient(to bottom right, #1e058c, #6721d6)
}

.cronograma {
    color: #ffffff;
    background: #8c7805;
    background: linear-gradient(to bottom right, #8c7805, #c7ba09)
}

div {
    padding: 10px 15px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

p, a, li {
    font-size: 1.25em;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}
